body {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 17px;
  margin: 0;
}

.listing-container {
  margin: 0 auto;
  padding: 0 12px;
}

@media (min-width: 744px) {
  .listing-container {
    width: 696px;
  }
}

/* prevent the listings from forcing the edge of the document to exceed the viewport */
html,
body {
  overflow-x: hidden;
}

hr {
  border: 0;
  border-top: 1px solid #dce0e0;
}

button {
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  line-height: 1.43;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  background: white;
  color: #484848;
  padding: 7px 18px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  margin: 2em 0;
}

.list .title {
  flex: 1 1 25%;
}

.list .content {
  flex: 1 1 75%;
  display: flex;
  flex-wrap: wrap;
}

.list .list-item {
  flex: 0 0 50%;
  margin-bottom: 16px;
}

.list .list-item > i {
  width: 35px;
}

@media (max-width: 743px) {
  .list .title {
    flex: 1 1 33%;
  }

  .list .content {
    flex: 1 1 67%;
  }

  .list .list-item {
    flex: 0 0 100%;
  }
}

/*
We'll add a login-container class to our global CSS file so the footer for this page aligns correctly. 
We'll also add a CSS rule to ensure text inputs display correctly on iPhone. 
The login page will be the only place we'll have a text input, 
but let's add it as a global rule in case you decide to add other forms later.
*/
.login-container {
  margin: 0 auto;
  padding: 0 12px;
}

@media (min-width: 374px) {
  .login-container {
    width: 450px;
  }
}

input[type=text] {
  -webkit-appearance: none;
}

.error-msg {
  color: red;
}
